// FOnts
@import '~fonts/MontserratRaleway.css';

//bootstrap grid only
@import './lib/bootstrap/bootstrap-grid.scss';

// responsive design
@import "./globals/breakpoints";
// global variables
@import "./globals/globals";

// components
@import "./modules/menu";
@import "./modules/circuit";
@import "./modules/machine";

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#home__header {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: #000;
}

#plateforme__header {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url('~img/bg-header.webp') center center fixed;
  background-size: cover;
}
#plateforme__page-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  .slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
