// FOnts
@import '~fonts/MontserratRaleway.css';

//bootstrap grid only
@import './lib/bootstrap/bootstrap-grid.scss';

// responsive design
@import "./globals/breakpoints";
// global variables
@import "./globals/globals";

// components
@import "./modules/buttons";
@import "./modules/menu";
@import "./modules/circuit";
@import "./modules/machine";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#home__header {
  width: 100%;
  margin: 0;
  padding: 90px 0 25px;
  background: darken($color-theme-second, 8);
  background: url('~img/bg-header-accueil.jpg') center center;
  background-size: cover;
  color: #fff;
}
.home__header__content {
  text-align: center;
  width: 100%;
  padding: 30px 10%;
  margin: 0 auto;
  max-width: 1000px;
}

#home__content {
  padding: 20px 8%;
  text-align: center;
  h1 {
    font-size: 180%;
  }
}
.list-plateformes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.component-plateforme {
  background-color: #ff66bb;
  height: 250px;
  width: 250px;
  max-width: 100%;
  margin: 10px;
}

.plateforme__header {
  width: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 10% 10%;
  flex-wrap: wrap;
  color: #fff;
  background-color: #000;
}
.plateforme__header--geii {
  background: url('~img/bg-header-geii.jpg') center center fixed;
  background-size: cover;

}

.header__logo {
  min-width: 100px;
  width: 200px;
  height: 200px;
  background-color: #262427;
}
.header__description {
  min-width: 200px;
  max-width: 600px;
  margin-left: 20px;
  font-size: 120%;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
}
.header__description__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .btn {
    margin: 10px;
  }
}

#plateforme__page-content {
  width: 100%;

  &.plateforme--geii {
    background: url('~img/bg-page-geii.jpg') center center fixed;
    background-size: cover;
    color: #fff;
  }

  .slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
