#circuit {
  position: absolute;
  height: 100%;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  right: 5%;
  &::before {
    content: '';
    display: none;
    position: absolute;
    width: 100%;
    padding-top: 100%;
    background-color: #fff;
    opacity: .8;
    border-radius: 100%;
    z-index: -1;
  }
  &.sticky {
    position: fixed;
    top: 0;
  }

  svg {
    width: 100%;
    overflow: visible;
    & * {
      overflow: visible;
    }
    #frigohaut_1_,
    #frigobas_1_,
    #chaud_1_,
    #froid_1_,
    #boite-bas_1_,
    #boite-haut_1_,
    #laser_1_,
    #bacbas_1_,
    #bachaut_2_ {
      opacity: 0;
    }
    // machine1: brasure
    #transistor_1_, #diode_1_ {
      transition: .3s $transition-easing;
    }

    // machine 3: ray x
    #boite-haut_1_ {
      transition: .4s $transition-easing;
      transform: translateY(-150px);
      #boite-haut-couvercle_1_ {
        animation: boite-xray 1s infinite alternate;
      }
    }
    #boite-bas_1_ {
      transition: .4s $transition-easing;
      transform: translateY(150px);
    }
    #laser_1_ {
      transition: all .3s;
      #laser-light_1_ {
        animation: laser 1s infinite alternate;
      }
    }
    @keyframes boite-xray {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.5;
      }
    }
    @keyframes laser {
      from {
        opacity: 0;
      }
      to {
        opacity: .4;
      }
    }

    // machine4: decoupe
    #pcb_1_ {
      transition: all .4s $transition-easing;
    }
    #coupe_2_ {
      transition: all .4s $transition-easing;
    }

    // machine6: chocs thermiques
    #frigobas_1_, #frigohaut_1_ {
      transition: .2s;
    }
    #chaud_1_, #froid_1_{
      animation: chaudfroid 3s infinite;
    }
    #froid_1_ {
      animation-delay: 1.5s;
    }
    @keyframes chaudfroid {
      from {
        opacity: 0;
      }
      10% {
        opacity: .2;
      }
      40% {
        opacity: .2;
      }
      50% {
        opacity: 0;
      }
      to {
        opacity: 0;
      }
    }


  }
  &.scroll-intro {
    #transistor_1_, #diode_1_ {
      transform: translateY(-130px);
    }
  }
  &.scroll-machine1 {
    #transistor_1_, #diode_1_ {
      transform: translateY(0);
    }
    #diode_1_ {
      transition-delay: .05s;
    }
  }
  &.scroll-machine2 {

  }
  &.scroll-machine3 {
    #boite-haut_1_, #boite-bas_1_ {
      transform: translateY(0);
      opacity: 1;
      //transition: opacity .2s, transform .3s $transition-easing .15s;
      transition-delay: .4s;
    }
    #laser_1_ {
      transition-delay: .8s;
      opacity: 1;
    }
  }
  &.scroll-machine4 {
    #pcb_1_, #transistor_1_, #diode_1_ {
      transform: translateX(-50px);
      transition: all .4s $transition-easing .5s;
    }
    #coupe_2_ {
      transform: translateX(100px);
      transition-delay: .5s;
    }
  }
  &.scroll-machine5 {
    #bachaut_2_ {
      opacity: 1;
    }
  }
  &.scroll-machine6 {
    #frigobas_1_ {
      opacity: 1;
      transition-delay: .4s;
    }
    #frigohaut_1_ {
      opacity: 1;
      transition-delay: .4s;
    }
  }
}
