.slide {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.machine__description {
  width: 50%;
  padding: 6%;
}
.machine__description__buttons {
  width: 100%;
  margin: 20px -5px 0;
  padding: 16px 0;
  .btn {
    margin: 5px;
  }
}
.machine__description__images {
  padding: 10px 0;
}
.machine__description__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: solid white 1px;
}
#intro {
  background-color: #fff;
  color: #000;
  min-height: 100vh;
}
